<template>
  <nav>
    <v-app-bar color="primary" clipped-left>
      <v-btn dark tile text depressed to="/">
        {{ appName }}
      </v-btn>

      <v-btn dark tile text depressed to="/about">
        About
      </v-btn>

      <v-spacer />

      <v-toolbar-items class="hidden-sm-and-down">
        <v-divider vertical />
        <v-menu offset-y open-on-hover>
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" dark text>
              Tascas
            </v-btn>
          </template>
          <v-list>
            <v-list-item to="/tascas/list">
              <v-list-item-content>
                List Tascas
              </v-list-item-content>
            </v-list-item>
            <v-list-item to="/tascas/create">
              <v-list-item-content>
                Create Tasca
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-divider vertical />
      </v-toolbar-items>
    </v-app-bar>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class TopBar extends Vue {
  appName: string = process.env.VUE_APP_NAME || "NC-Challenge";
}
</script>

<style scoped>
button {
  background-color: #5366b9 !important;
}
</style>
