<template>
  <v-card class="container spaced table">
    <h2>Tasca Details</h2>
    <v-container>
      <v-row>
        <v-text-field
          label="Name"
          v-model="tasca.name"
          type="text"
          readonly
          outlined
        />
      </v-row>
      <v-row>
        <v-text-field
          label="Address"
          v-model="tasca.address"
          type="text"
          readonly
          outlined
        />
      </v-row>

      <v-row>
        <v-text-field
          label="Rating (1-10)"
          v-model.number="tasca.rating"
          id="rating"
          type="number"
          readonly
          outlined
        />
      </v-row>

      <v-row>
        <v-col v-if="hasMap">
          <div style="height: 250px;">
            <l-map
              style="height: 100%; width: 100%"
              :zoom="zoom"
              :center="center"
              @update:zoom="zoomUpdated"
              @update:center="centerUpdated"
              @update:bounds="boundsUpdated"
            >
              <l-marker :lat-lng="location"></l-marker>
              <l-control-scale :imperial="false"></l-control-scale>
              <l-control-layers position="topright"></l-control-layers>
              <l-tile-layer
                v-for="tileProvider in tileProviders"
                :key="tileProvider.name"
                :name="tileProvider.name"
                :visible="tileProvider.visible"
                :url="tileProvider.url"
                :attribution="tileProvider.attribution"
                layer-type="base"
              />
              <l-control class="leaflet-bar" position="bottomleft">
                <button @click="focusOnMarker">
                  Focus
                </button>
              </l-control>
            </l-map>
          </div>
          <v-btn
            class="secondary"
            style="float: right; margin-top: 10px;"
            :href="getMapsURL()"
            target="_blank"
            >Link Google Maps</v-btn
          >
        </v-col>
      </v-row>

      <v-row>
        <v-col v-if="imagePreview">
          <v-img style="max-height: 450px;" :src="imagePreview" />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-btn
            class="primary"
            style="float:right;"
            @click="$router.push({ name: 'tascas-list' })"
            >Back to List</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Tasca from "../../models/Tasca";
import RemoteServices from "../../services/RemoteServices";

@Component
export default class TascaDetailsView extends Vue {
  @Prop() id!: number;

  tasca: Tasca = new Tasca();
  imagePreview: any | null = null;
  image: any | null = null;
  hasMap: boolean = false;
  center = [40.2097632, -8.4305974];
  zoom: number = 16;
  bounds: null = null;
  location = [40.2097632, -8.4305974];
  nAsyncRequests: number = 0;
  tileProviders = [
    {
      name: "OpenStreetMap",
      visible: true,
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
    },
    {
      name: "OpenTopoMap",
      visible: false,
      url: "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png"
    }
  ];

  async created() {
    this.bounds = null;
    try {
      this.tasca = await RemoteServices.getTasca(this.id);
      this.previewImage();
    } catch (error) {
      alert(error);
    }
    this.getCoordinates();
    this.$forceUpdate();
  }

  async previewImage() {
    if (!this.tasca.imageId) this.imagePreview = null;
    else {
      this.image = await RemoteServices.getImage(this.tasca.imageId);
      this.imagePreview =
        "data:image/jpeg;base64," + this.image.picByte.toString();
    }
  }

  async getCoordinates() {
    const locations = await RemoteServices.getCoordinates(this.tasca.address);
    if (locations.length > 0) {
      this.location = [locations[0].lat, locations[0].lon];
      this.center = this.location;
      this.hasMap = true;
    }
  }

  getMapsURL() {
    if (!this.location) return "";
    return (
      process.env.VUE_APP_MAPS_URL +
      String(this.location[0]) +
      "," +
      String(this.location[1])
    );
  }

  zoomUpdated(zoom: any) {
    this.zoom = zoom;
  }
  centerUpdated(center: any) {
    this.center = center;
  }
  boundsUpdated(bounds: any) {
    this.bounds = bounds;
  }
  focusOnMarker() {
    this.center = this.location;
  }
}
</script>

<style lang="scss" scoped>
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  .v-btn {
    margin: 2px;
    text-transform: none;
  }
}
.spaced {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.v-image {
  margin: auto;
}

.leaflet-control button {
  padding: 2px;
  border-radius: 15%;
  color: #3f51b5;
  background: white;
  font-weight: bold;
}
</style>
