<template>
  <v-card
    class="container"
    v-bind:class="{ spaced: !editMode, table: !editMode }"
  >
    <h2>{{ mode }}</h2>
    <v-form
      id="create"
      ref="create"
      @submit.prevent="submitForm"
      v-model="valid"
    >
      <v-text-field
        outlined
        label="Name"
        v-model="tasca.name"
        type="text"
        :rules="[value => !!value || 'Required.']"
      />
      <v-text-field
        outlined
        label="Address"
        v-model="tasca.address"
        type="text"
        :rules="[value => !!value || 'Required.']"
      />
      <v-text-field
        outlined
        label="Rating (1-10)"
        v-model.number="tasca.rating"
        id="rating"
        type="number"
        :rules="[
          value => !!value || 'Required.',
          value => (value >= 1 && value <= 10) || 'Must be between 1 and 10'
        ]"
      />

      <table width="100%">
        <tr>
          <td width="50%">
            <v-file-input
              outlined
              ref="image"
              type="file"
              label="Image input"
              accept="image/jpeg,image/png"
              prepend-icon="mdi-camera"
              v-model="image"
              v-on:change="previewImage()"
              style="width: 100%;"
              :rules="[
                value =>
                  !value ||
                  value.size < 10000000 ||
                  'Image size should be less than 10 MB.',
                value =>
                  !value ||
                  value.type === 'image/jpeg' ||
                  value.type === 'image/png' ||
                  'Wrong format.'
              ]"
            />
          </td>
          <v-divider vertical />
          <td>
            <v-img :src="imagePreview" v-if="imagePreview" />
          </td>
        </tr>
      </table>

      <v-card-actions>
        <v-btn class="primary"><input type="submit" :value="mode"/></v-btn>
        <v-btn class="red white--text" @click="cancelForm()">Clear</v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Tasca from "../../models/Tasca";
import RemoteServices from "../../services/RemoteServices";
import Image from "@/models/Image";

@Component
export default class TascaCreateView extends Vue {
  @Prop() editTasca!: Tasca;

  editMode: boolean = false;
  mode: string = "";
  tasca: Tasca = new Tasca();
  valid: boolean = false;
  image: any | null = null;
  imagePreview: any | null = null;

  async created() {
    this.updateTasca();
    this.mode = (this.editMode ? "Edit" : "Add") + " Tasca";
  }

  @Watch("editTasca")
  async updateTasca() {
    if (this.editTasca) {
      this.editMode = true;
      this.mode = (this.editMode ? "Edit" : "Add") + " Tasca";
      const tasca = this.editTasca;
      this.tasca.id = tasca.id;
      this.tasca.name = tasca.name;
      this.tasca.address = tasca.address;
      this.tasca.rating = tasca.rating;
      if (tasca.imageId) {
        this.image = await RemoteServices.getImage(tasca.imageId);
        this.imagePreview =
          "data:image/jpeg;base64," + this.image.picByte.toString();
      } else this.imagePreview = null;
      this.image = null;
      this.editMode = true;
    } else this.editMode = false;
    this.$forceUpdate();
  }

  previewImage() {
    if (!this.image) this.imagePreview = null;
    this.imagePreview = URL.createObjectURL(this.image);
  }

  async submitImage(): Promise<Image | null> {
    if (!this.image) return null;
    const imageData = new FormData();
    imageData.append("file", this.image);
    const image = await RemoteServices.addImage(imageData);
    return image;
  }

  async submitForm() {
    this.validate();
    if (!this.valid) {
      this.valid = false;
      return;
    }

    try {
      const image = await this.submitImage();
      if (image) {
        this.tasca.imageId = image.id;
      }
      if (this.editMode) {
        await RemoteServices.updateTasca(this.tasca);
        this.cancelForm();
      } else {
        await RemoteServices.addTasca(this.tasca);
        await this.$router.push({ name: "tascas-list" });
      }
    } catch (error) {
      alert(error);
    }
  }

  cancelForm() {
    if (this.editMode) {
      this.$emit("close-dialog");
      return;
    }
    (this.$refs.create as Vue & { reset: () => boolean }).reset();
  }

  validate() {
    (this.$refs.create as Vue & { validate: () => boolean }).validate();
  }
}
</script>

<style lang="scss" scoped>
.container {
  padding-left: 10px;
  padding-right: 10px;
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  form {
    border-radius: 3px;
    padding: 15px 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  .v-btn {
    margin: 2px;
    text-transform: none;
  }
}
.spaced {
  margin-top: 2% !important;
}

.v-image {
  margin: auto;
  max-height: 150px;
  max-width: 150px;
}
</style>
