<template>
  <div>
    <v-card class="table" style="padding-bottom: 10px;">
      <v-card-title class="title">Tascas</v-card-title>
      <v-data-table
        :headers="headers"
        :items="tascas"
        :search="search"
        :items-per-page="15"
        class="striped elevation-5"
        loading="false"
        loading-text="Loading Tascas..."
      >
        <template v-slot:top>
          <v-card-title>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              class="mx-2"
              clearable
            />

            <v-spacer />
            <v-btn color="primary" dark @click="create()">New Tasca</v-btn>
            <v-btn color="primary" dark @click="refresh()">Refresh</v-btn>
          </v-card-title>
        </template>

        <template v-slot:item.actions="{ item }" v-on:focus="item">
          <v-icon small @click="$router.push({ path: `/tascas/${item.id}` })">
            mdi-information
          </v-icon>
          <v-icon small @click="edit(item)">
            mdi-pencil
          </v-icon>
          <v-icon small @click="del(item)">
            mdi-delete
          </v-icon>
          <v-icon v-if="item.imageId" @click="getImageURL(item)">
            mdi-image-area
          </v-icon>
        </template>
      </v-data-table>

      <v-dialog width="50%" v-model="editingTasca">
        <TascaCreateView
          :edit-tasca="tascaToEdit"
          v-on:close-dialog="closeDialog"
          @keydown.esc="closeDialog"
        />
      </v-dialog>

      <v-dialog width="fit-content" v-model="showImage">
        <v-img :src="imageToShow" width="500px" />
      </v-dialog>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Tasca from "../../models/Tasca";
import RemoteServices from "../../services/RemoteServices";
import TascaCreateView from "@/views/tascas/TascaCreateView.vue";

@Component({
  components: { TascaCreateView }
})
export default class TascasListView extends Vue {
  tascas: Tasca[] = [];
  editingTasca: boolean = false;
  tascaToEdit: Tasca | null = null;
  imageToShow: any | null = null;
  showImage: boolean = false;
  search: string = "";
  headers: object = [
    {
      text: "Name",
      value: "name",
      align: "center",
      width: "35%",
      divider: true
    },
    {
      text: "Address",
      value: "address",
      align: "center",
      width: "35%",
      divider: true
    },
    {
      text: "Rating (1-10)",
      value: "rating",
      align: "center",
      width: "15%",
      divider: true,
      filterable: false
    },
    {
      text: "Actions",
      value: "actions",
      align: "left",
      width: "15%",
      sortable: false
    }
  ];

  async created() {
    this.getTascas();
  }

  async getTascas() {
    try {
      this.tascas = await RemoteServices.getTascas();
    } catch (error) {
      alert(error);
    }
  }

  async getImageURL(tasca: Tasca) {
    if (!tasca.imageId) return null;
    const image = await RemoteServices.getImage(tasca.imageId);
    if (!image) return null;
    const url = "data:image/jpeg;base64," + image.picByte.toString();
    this.imageToShow = url;
    this.showImage = true;
    return url;
  }

  async refresh() {
    this.$router.go(0);
  }

  closeDialog() {
    this.editingTasca = false;
    this.getTascas();
  }

  async edit(tasca: Tasca) {
    this.tascaToEdit = tasca;
    this.editingTasca = true;
  }

  async del(tasca: Tasca) {
    if (!confirm(`Do you really want to delete tasca '${tasca.name}'?`)) return;
    try {
      await RemoteServices.deleteTasca(tasca);
    } catch (error) {
      alert(error);
    }
    this.refresh();
  }

  async create() {
    await this.$router.push({ name: "tascas-create" });
  }
}
</script>

<style lang="scss" scoped>
.v-btn {
  margin: 2px;
  text-transform: none;
}
</style>
