<template>
  <v-app id="app">
    <top-bar />
    <router-view />
  </v-app>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #d3e5ef;
}
</style>
<script lang="ts">
import Vue from "vue";
import TopBar from "./components/TopBar.vue";
import Component from "vue-class-component";
import "@/assets/css/_global.scss";
@Component({
  components: { TopBar }
})
export default class App extends Vue {}
</script>
