<template>
  <v-card class="about">
    <h1>NESTSI 2020 - <i>Tascas</i></h1>
    <v-divider />
    <v-card-text>
      <h3>
        This project was made for the Nest Collective Internship Programme.
      </h3>
      <br />
      <h4>The Challenge was:</h4>
      <br />
      <p>
        Nest Collective is looking to have a directory of tascas (typical
        Portuguese small restaurant/cafe/bar) which are located near Downtown
        and Uptown Offices. Because you're lazy, instead of doing it manually
        you're going to create a web platform where you're able to
        add/edit/remove tascas along with some essential data.
      </p>
      <br />
      <p>
        In this project, I used PostgreSQL, Java, Maven and Spring for the
        backend server. For the frontend server, I used VueJS.
        <br />
        I implemented the basic operations for <i>Tascas</i> (CRUD) and support
        for image uploading, map location given the address of the <i>Tasca</i>,
        using OpenStreetMap API, and search and sort functionality.
        <br />
      </p>
      <br />
      <v-divider />
      <br />
      <h4>
        This project was made by Daniel Gonçalves.
      </h4>
      <h4>
        You can find more about me in the following links:
      </h4>
      <br />
      <a
        class="daniel-link"
        href="https://www.linkedin.com/in/daniel-gon-05/"
        target="_blank"
        ><font-awesome-icon :icon="['fab', 'linkedin']" size="3x"
      /></a>
      <a
        class="daniel-link"
        href="https://github.com/masterzeus05"
        target="_blank"
        ><font-awesome-icon :icon="['fab', 'github']" size="3x"
      /></a>
    </v-card-text>
  </v-card>
</template>

<style>
a.daniel-link {
  color: initial !important;
}
</style>
