html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 0 !important;
    //overflow: hidden !important;
}

.table {
    margin: 2%;
    width: 96%;
    padding: 0 20px;

    .v-card__title .v-btn {
        margin: 0 5px;
    }
}

.striped {

    .v-data-table-header {
        font-size: large !important;
        background-color: lightgray !important;
    }

    tr:nth-of-type(2n) {
        background-color: whitesmoke !important;
    }

    tr:hover {
        background: #eaeaea !important;
    }
}

.table td,
.table th {
    display: table-cell;
    vertical-align: inherit;
}

h2 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.v-icon {
    padding: 0 0 0 10px;
}

.hidden table .v-icon {
    display: none;
}
.hidden table tr:hover .v-icon {
    display: inline;
}